.Home{
    width: 100%;
    height: 40vw;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    .buy,.kyc{
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        input{
            height: 20px;
            width: 500px;
        }
    }
    
}